<a href="https://colab.research.google.com/github/harshasaiseran/python-new/blob/module-1/_MODULE_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Accept input from user and store it in variable and print the value.

In [ ]:
a=int(input("enter any number"))
print(a)

enter any number5
5

#Use of print statements and use of (.format )for printing different data types.

In [ ]:
a="RRR movie has been released"
b="I went to movie with friends"
#print(a+""+b)
#print("%a%b"%(a,b))
a=123
b="hello{}"
print(b.formate(a,b))

#Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print
the output (Same operations on floating point input as well)

In [ ]:
a=float(input("enter a number"))
b=float(input("enter a number"))
c=a+b
d=a-b
e=a*b
f=a/b
g=a%b
print("sum= ",c)
print("subtract= ",d)
print("product= ",e)
print("division= ",f)
print("remainder= ",g)

enter a number5
enter a number10
sum=  15.0
subtract=  -5.0
product=  50.0
division=  0.5
remainder=  5.0

#Conversion of one unit to another (such as hours to minutes, miles to km and etc)

In [ ]:
a=float(input("enter hours"))
print("minutes are= ",a*60)
b=float(input("enter miles"))
print("km are= ",b*1.6)

enter hours12
minutes are=  720.0
enter miles5
km are=  8.0

#Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,
pow, sqrt etc.

In [ ]:
import math
a=float(input("enter a number "))
print(math.ceil(a))
print(math.floor(a))
print(math.fabs(a))
print(math.trunc(a))
print(math.sqrt(a))
b=float(input("enter a number"))
c=float(input("enter a number "))
print(math.fmod(b,c))
print(math.pow(b,c))

enter a number 3
3
3
3.0
3
1.7320508075688772
enter a number5
enter a number 4
1.0
625.0

#Building a mathematical calculator that can perform operations according to user input.
Use decision making statement.

In [ ]:
a=float(input("enter number "))
b=float(input("enter a number "))
o=input("enter opeation")
if o=="sum":
  print(a+b)
elif o=="subtract":
  print(a-b)
elif o=="product":
  print(a*b)
elif o=="remainder":
  print(a%b)
else:
  print(a/b)

enter number 5
enter a number 5
enter opeation1
1.0

#Accepting 5 different subject marks from user and displaying the grade of the student.

In [ ]:
s1=float(input("enter marks"))
s2=float(input("enter marks"))
s3=float(input("enter marks"))
s4=float(input("enter marks"))
s5=float(input("enter marks"))
avg=(s1+s2+s3+s4+s5)/5
if avg>=90:
  print("a grade")
elif avg>=80:
  print("b grade")
elif avg>=70:
  print("c grade")
elif avg>=60:
  print("d grade")
else:
  print("fail")

enter marks50
enter marks70
enter marks60
enter marks60
enter marks50
fail

#Printing all even numbers, odd numbers, count of even numbers, count of odd numbers within a given range.

In [ ]:
n=int(input("enter range "))
c=0
for i in range(1,n+1):
 if i%2==0:
   c+=1
   print(i)


print("even count is ",c)

d=0
for i in range(1,n+1):
  if i%2!=0: 
    d+=1
    print(i)

print("odd count is ",d)

enter range 5
2
4
even count is  2
1
3
5
odd count is  3

#Compute the factorial of a given number

In [ ]:
n=int(input("enter a number "))
fac=1
for i in range(1,n+1):
  fac=fac*i

print(fac)

enter a number 4
24

#Compute GCD of two given

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
k=a if a<b else b
while True:
    if a%k==0 and b%k==0:
     break
    k -=1
print(k)

enter a number5
enter a number5
5

In [ ]:
return s==s[::-1]
s=input("enter the value")
ans=isPalindrome(s)
if ans:
print("Yes")
else:
def isPalindrome(s):