<a href="https://colab.research.google.com/github/harshasaiseran/python-new/blob/module-3/PANDAS_MODULE_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv('C:\\Users\ASUS\Desktop\Menu.csv')

print(df.to_string())

   s no: lunch (veg)   lunch(nonveg)     Tiffins    Dinner
0      1  fried rice  mutton biryani        dosa     rasam
1      2     biryani      crab curry      parata     salad
2      3   curd rice     butter milk  butternaan  icecream

In [ ]:
import pandas as nsk
c=[1,7.5,8.3]
z=nsk.Series(c)
print(z)

0    1.0
1    7.5
2    8.3
dtype: float64

In [ ]:
import pandas as pd
df = pd.read_csv('D:\marks.csv')
new_df = df.dropna()
print(new_df.to_string())

   s no:  marks
0      1   95.0
2      3   93.0

In [ ]:
import pandas as pd
a=pd.read_csv('D:\data.csv')
a[:10]

   s no:            Name  age   Mobile no         mail        password
0      1          Harsha   19  9492328458  **@gitam.in        ********
1      2        Bhagyesh   18  7749859909  **@gitam.in     ***********
2      3  Jogi Sai Kiran   20  9938827451  **@gitam.in    ************
3      4         Aravind   19  8459399779  **@gitam.in       *********
4      5       Chaitanya   18  8468827839  **@gitam.in  **************
5      6       Bharadwaj   19  7703378139  **@gitam.in         *******
6      7           Pavan   18  6303478299  **@gitam.in     ***********
7      8      Parabrahma   18  9947477982  **@gitam.in      **********
8      9           Raghu   20  8179938993  **@gitam.in    ************
9     10           Phani   20  8474898477  **@gitam.in    ************

In [ ]:
import pandas as pd
a=pd.read_csv('D:\data.csv')
b=pd.DataFrame(a)
print(b)

   s no:            Name  age   Mobile no         mail        password
0      1          Harsha   19  9492328458  **@gitam.in        ********
1      2        Bhagyesh   18  7749859909  **@gitam.in     ***********
2      3  Jogi Sai Kiran   20  9938827451  **@gitam.in    ************
3      4         Aravind   19  8459399779  **@gitam.in       *********
4      5       Chaitanya   18  8468827839  **@gitam.in  **************
5      6       Bharadwaj   19  7703378139  **@gitam.in         *******
6      7           Pavan   18  6303478299  **@gitam.in     ***********
7      8      Parabrahma   18  9947477982  **@gitam.in      **********
8      9           Raghu   20  8179938993  **@gitam.in    ************
9     10           Phani   20  8474898477  **@gitam.in    ************

In [ ]:
import pandas as pd
df=pd.read_csv('D:\data.csv')
a[:10]
a.aggregate({'age':['min','max']})

     age
min   18
max   20

In [ ]:
import pandas as pd
a=pd.read_csv('D:\data.csv')
a[:10]
a.aggregate({'password':['min','max']})

           password
min         *******
max  **************

In [ ]:
import pandas as vk 
a=df.groupby(['age'])
print(type(a))
a = pd.DataFrame(a)

<class 'pandas.core.groupby.groupby.DataFrameGroupBy'>

ValueError: DataFrame constructor not properly called!

In [ ]:
##file open
f=open("D:\\seran.txt","r")
print(f.read())
f.close

Hi this is Harsha

In [ ]:
##reading a file for certain limit
f=open("D:\\seran.txt","r")
print(f.read())
f.close

Hi this is Harsha

In [ ]:
##reading a content in newline
f=open("D:\\seran.txt","r")
print(f.readline())
print(f.readlines())

Hi this is Harsha

[]

In [ ]:
##Append a file
f=open("D:\\seran.txt","a")
f.write("\nand my name is ash")
f.close()

In [ ]:
##Copy a file
f=open("D:\\seran.txt","r")
b=f.readline()
f.close()
f1=open("D:\\seran.txt","w")
f1.writelines(b)
f1.close()
f2=open("D:\\seran.txt","r")
for i in f2:
    print(i)
f2.close()

Hi this is Harsha

In [ ]:
f = open("C:\\Users\ASUS\Desktop\Harshasai.txt", "r")
print(f.read())

In [ ]:
f = open("C:\\Users\ASUS\Desktop\Harshasai.txt", "r")
print(f.read(5))

In [ ]:
f = open("C:\\Users\ASUS\Desktop\Harshasai.txt", "r")
print(f.readline())
print(f.readline())

In [ ]:
f = open("C:\\Users\ASUS\Desktop\Harshasai.txt", "r")
for x in f:
 print(x)

In [ ]:
f = open("C:\\Users\ASUS\Desktop\Harshasai.txt", "a")
f.write("something new")
f.close()

#open and read the file after the appending:
f = open("C:\\Users\ASUS\Desktop\Harshasai.txt", "r")
print(f.read())